@import "@csstools/normalize.css";

:root {
  --color-background-primary: #faf9ff;
  --color-background-secondary: #d7d2df;
  --color-background-alternative: #d4accf;
  --color-element-primary: #292336;
  --color-element-secondary: #594b75;
  --color-element-alternative: #8b4f74;

  --border-radius: 3px;
  --transition-duration-s: 130ms;
  --transition-duration-m: 130ms;
  --transition-duration-l: 130ms;

  @media (prefers-color-scheme: dark) {
    --color-background-primary: #292336;
    --color-background-secondary: #594b75;
    --color-background-alternative: #8b4f74;
    --color-element-primary: #faf9ff;
    --color-element-secondary: #d7d2df;
    --color-element-alternative: #d4accf;
  }

  user-select: none;
  font-size: 13px;
  line-height: 17px;
  color: var(--color-element-primary);
  background-color: var(--color-background-primary);
  font-family: Calibri, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;

  * {
    color: inherit;
    box-sizing: border-box;

    transition-duration: var(--transition-duration-m);
    transition-property: none;

    outline-width: 0;
    outline-style: dashed;
    outline-color: var(--color-element-alternative);
    outline-offset: 3px;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-background-alternative);
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.5em;
  font-family: Arial, Helvetica;
}

h1,
h2 {
  position: sticky;
  top: 0;

  &::before {
    z-index: -1;
    opacity: 0.5;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: -7px;
    right: -7px;
    bottom: 0;
    background-color: var(--color-background-primary);
  }
}

h1 {
  z-index: 7;
  font-size: 20px;
  margin-bottom: 10px;
}
h2 {
  z-index: 5;
  font-size: 17px;
  margin-bottom: 7px;
}
h3 {
  font-size: 15px;
  margin-bottom: 3px;
}
h4,
h5,
h6 {
  font-size: 13px;
  margin-bottom: 3px;
}
h5,
h6 {
  font-weight: normal;
}
h6 {
  font-size: 10px;
}

fieldset {
  margin: 0;
  padding: 0;
  border-width: 0;
}

label {
  &:not(:disabled),
  :not(:disabled) & {
    cursor: pointer;
  }
}

button {
  border: none;
  appearance: none;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
