$colors: (
  background: (
    primary: #FFFFFF,
    secondary: #F3F8FD,
    alternative: #F1F1F1,
  ),
  element: (
    primary: #000027,
    secondary: #373272,
    alternative: #027597,
  ),
);

:root {
  --color-background-primary: #{map-get(map-get($colors, background), primary)};
  --color-background-secondary: #{map-get(map-get($colors, background), secondary)};
  --color-background-alternative: #{map-get(map-get($colors, background), alternative)};
  --color-element-primary: #{map-get(map-get($colors, element), primary)};
  --color-element-secondary: #{map-get(map-get($colors, element), secondary)};
  --color-element-alternative: #{map-get(map-get($colors, element), alternative)};

  --border-radius: 3px;

  --transition-duration-s: 130ms;
  --transition-duration-m: 130ms;
  --transition-duration-l: 130ms;

  @media (prefers-color-scheme: dark) {
    --color-background-primary: #{map-get(map-get($colors, element), primary)};
    --color-background-secondary: #{map-get(map-get($colors, element), secondary)};
    --color-background-alternative: #{map-get(map-get($colors, element), alternative)};
    --color-element-primary: #{map-get(map-get($colors, background), primary)};
    --color-element-secondary: #{map-get(map-get($colors, background), secondary)};
    --color-element-alternative: #{map-get(map-get($colors, background), alternative)};
  }
}
