
.component {
  counter-reset: sources;

  display: flex;
  flex-direction: raw;
  flex-wrap: wrap;
  gap: 7px;
}

.item {
  position: relative;
  overflow: hidden;
  padding: 3px 7px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-background-secondary);
  border-radius: var(--border-radius);
  background-color: var(--color-background-primary);

  &::before {
    content: counter(sources);
    counter-increment: sources;

    position: absolute;
    top: 0;
    left: -0.07em;
    font-weight: bold;
    line-height: 0.5em;
    font-size: 3em;
    opacity: 0.1;
    z-index: 0;
  }

  &New {
    &::after {
      content: '(new)';
      display: inline-block;
      color: var(--color-element-alternative);
      margin-left: 0.25em;
    }
  }

  &:not(&Disabled) {
    cursor: grab;

    &[draggable="true"] {
      cursor: grabbing;
    }
  }

  &Disabled {
    opacity: 0.5;
  }
}
